body{
   background-image:url(http://cdn.wallpapersafari.com/13/52/UE7i1R.jpg);  
      }


h1	{
	font-family: Arial;
	font-size: 100px;
}

#hobbies {
	font-family: Arial;
	text-align: center;
	font-size: 30px;
}
 
body {
	font-family: Arial;
}

h3 {
	font-size: 55px;
}


#HP {
	width: 75px;
	height: 75px;
}

#XD {
	font-size: 30px;
}

#Controller {
	width: 80px;
	height: 80px;
}